body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(#fdeb71,#f8d800);
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkgoldenrod;
}

.container{
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    background-color: rgba(255,255,255,.3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 32px;
}

.temp-container{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.input{
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255,255,255,.3);
    border-color: rgba(255,255,255,.5);
    color: darkgoldenrod;
    font-size: 18px;
}

.input::placeholder{
    color: darkgray;
}